.settings
eclipse
documentation
tmp
.classpath
.project
.idea
*.iml
*.ipr
*.iws
Template_
Template_1000$_run_closure1.class
Template_1000.class
Template_1006$_run_closure1.class
Template_1006.class
Template_1008$_run_closure1.class
Template_1008.class
Template_1009$_run_closure1.class
Template_1009.class
Template_1010$_run_closure1.class
Template_1010.class
Template_1011$_run_closure1.class
Template_1011.class
/Template_1012.class
/Template_1007.class
/Template_1003.class
Template_1001$_run_closure1.class
