<nav class="ui menu">
  <header class="ui header item">Your WeatherTop Stations</header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"><i class="cubes icon"></i>Dashboard</a>
    <a id="about" class="item" href="/about"><i class="info circle icon"></i>About</a>
    <a id="settings" class="item" href="/settings"><i class="cog icon"></i>Settings</a>
    <a id="logout" class="item" href="/logout"><i class="user times icon"></i>Sign out</a>
  </div>
</nav>

<script>
  $("#${_id}").addClass("active item");
</script>