#{extends 'main.html' /}
#{set title:'About' /}
#{menu id:"about"/}

<section class="ui segment">
  <h2 class="ui header">
    <div class="content">Current state of application</div>
    <div class="sub header">
      The application is in a relatively stable state.<br>
      You don't need to worry about inputting wrong values in readings or stations as invalid inputs should be detected
      and a warning message will be displayed.<br>
      At least I hope they will...
    </div>
  </h2>
  <h2 class="ui header">
    <div class="content">Release 1</div>
    <div class="sub header">
      Working towards release 1, the application looked quite stale.
      <ul>
        <li>Readings were displayed on the dashboard under each station</li>
        <li>It was not possible to add or remove readings or stations</li>
      </ul>
      But once it was complete, more reading fields were added and the dashboard now showed station list and a button to open each station to view the readings.
    </div>
  </h2>
  <h2 class="ui header">
    <div class="content">Release 2</div>
    <div class="sub header">
      Release 2 brought two major improvements:
      <ul>
        <li>Overhaul of user experience by providing icons on the dashboard</li>
        <li>Member registration was now a thing and each member could have their own list of stations!</li>
      </ul>
    </div>
  </h2>
  <h2 class="ui header">
    <div class="content">Release 3</div>
    <div class="sub header">
      This was the big release introducing features such as:
      <ul>
        <li>Algorithms to pick up on weather trends</li>
        <li>Latest weather cards were moved to display on the dashboard and have changing icons depending on the weather</li>
        <li>New Settings page to allow members keep their information up to date</li>
      </ul>
    </div>
  </h2>
  <h2 class="ui header">
    <div class="content">Patch Notes</div>
    <div class="sub header">
      Many patches were needed, in fact too many to list.
    </div>
  </h2>
</section>