#{extends 'main.html' /}
#{set title: 'Settings' /}
#{menu id: "settings" /}

#{if updateFailed}
<div class="ui red negative message">
  <div class="header">
    Update Failed
  </div>
  <p>Updating your personal details didn't go as planned! Please fill out the fields with correct parameters before saving.</p>
</div>
#{/if}
<div class="ui attached message">
  <div class="header">
    Hey, ${member.firstname}!
  </div>
  <p>Here you can review and manage your account details.</p>
</div>
<form class="ui form success attached fluid segment" action="/settings/save" method="POST">
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
      <input placeholder="${member.firstname}" type="text" name="firstname">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="${member.lastname}" type="text" name="lastname">
    </div>
  </div>
  <div class="field">
    <label>Email</label>
    <input placeholder="${member.email}" type="text" name="email">
  </div>
  <div class="field">
    <label>Password</label>
    <input placeholder="${member.password}" type="password" name="password">
  </div>
  #{if updateSuccessful}
  <div class="ui success message">
    <div class="header">Update Complete</div>
    <p>You're account details have been successfully updated.</p>
  </div>
  #{/if}
  <button class="ui positive submit button">Save</button>
</form>




