#{extends 'main.html' /}
#{set title:'Start' /}
#{welcomemenu id:"start"/}

<section class="ui middle aligned segment">
  <img class="ui centered medium image" src="/public/images/weather-logo.jpeg">
  <h1 class="ui center aligned header">
    <div class="content">
      Why choose us?
    </div>
    <div class="sub header">
      At WeatherTop, you can track your latest weather conditions using our slick card design to make viewing more convenient than ever before.<br>
    </div>
  </h1>
  <h2 class="ui header">
    <div class="left aligned content">Some of our features</div>
    <div class="sub header">
      Our algorithms will provide you with insightful statistics such as:
      <ul>
        <li>Minimum and maximum temperatures recorded in each station</li>
        <li>Description of what the weather feels like</li>
        <li>Our most recent feature also picks up weather trends to more easily predict what's up ahead!</li>
      </ul>
    </div>
  </h2>
</section>
