#{extends 'main.html' /}
#{set title: 'Station' /}
#{menu id: "dashboard" /}

#{if addReadingSuccessful}
<div class="ui success message">
  <div class="header">
    New reading was added successfully
  </div>
  <p>You may now view the latest readings on the dashboard cards.</p>
</div>
#{/if}
#{if addReadingFailed}
<div class="ui red error message">
  <div class="header">Invalid Reading</div>
  <p>You can only add new readings if all fields contain correct parameters.</p>
</div>
#{/if}
<section class="ui segment">
  <div class="ui grid">
    <div class="two column row">
      <div class="left floated column">
        <h2 class="ui header">${station.name}</h2>
      </div>
      <div class="right floated right aligned column">
        <a href="/dashboard" class="ui button">
          <i class="chevron left icon"></i>Back to Dashboard
        </a>
      </div>
    </div>
  </div>
  #{listReadings station: station /}
  #{addreading station: station /}
</section>
<div class="ui hidden divider"></div>